.page {
    display: flex;
}

.tasks {
    height: 800px;
    width: 1500px; /* change later */
    margin-left: 50px;
    border-radius: 20px;
    background-color: #242526;
    padding-left: 10px;
    overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .tasks {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.tasks .create-task {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.tasks .create-task h1 {
    width: 350px;
    padding-bottom: 10px;
    font-size: 40px;
    color: white;
    border-bottom: 4px solid #39FF14;
    margin-bottom: 15px;
}

.tasks .create-task button {
    border-radius: 50px;
    background-color: #343434;
    border: 1px solid gray;
    height: 70px;
    font-size: 50px;
    color: gray;
    width: 70px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}


.tasks .all-tasks {
    display: flex;
    flex-wrap: wrap;
}

.tasks .all-tasks .task{
    position: relative;
    height: 100%;
    max-height: 300px;
    min-height: 300px;
    background-color:  #343434;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 300px;
    border-radius: 20px;
    margin: 10px;
}

.tasks .all-tasks .task h1 {
    color: white;
}

.tasks .all-tasks .task p {
    color: white;
}

.tasks .all-tasks .task .date {
    position: absolute;
    bottom: 70px;
    left: 20px;

}

.tasks .all-tasks .task .buttons {
    position: absolute;
    bottom: 10px;
    left: 15px;

}


.tasks .all-tasks .task .buttons .complete{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.tasks .all-tasks .task .buttons .incomplete{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.tasks .all-tasks .task .buttons .delete,.edit {
    float: right;
    border: 0;
    background-color: #343434;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.tasks .all-tasks .task .buttons .edit{
    margin-left: 60px;
}

.new-task {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%; /* Full width */
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); 

}

.new-task .task-elements{
    border-radius: 10px;
    color: white;
    background-color: #242526;
    padding: 20px 30px 30px 30px;
    width: 500px;
    height: 750px;
    margin: auto;
    margin-top: 5%;
}

.new-task .task-elements input[type="date"],input[type="text"],textarea{
    height: 60px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 100% !important;
    border: 0;
    padding: 5px;
}

::-webkit-datetime-edit-text { color:white}
::-webkit-datetime-edit-month-field { color:white }
::-webkit-datetime-edit-day-field { color:white }
::-webkit-datetime-edit-year-field { color:white }
::-webkit-calendar-picker-indicator{ 
  background-image: url(http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Calendar-icon.png);
       background-size:20px 20px;
       background-repeat:no-repeat;
      color:rgba(204,204,204,0);
}

.new-task .task-elements .description {
    height: 125px;
    padding: 5px;
    resize: none;
}

#edit-task-bio {
    height: 125px;
    padding: 5px;
    resize: none;
}

.new-task .task-elements label {
    font-size: 20px;
}

.new-task .task-elements .toggle {
    display: block;
}

.new-task .task-elements .toggle .toggle-completed,.toggle-important {
    display: flex;
    justify-content: space-between;
}

.new-task .task-elements .create-task-btn {
    background-color: #0E87CC;
    border: 0;
    padding: 20px;
    width: 170px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    float: right;
    border-radius: 10px;
    cursor: pointer;
}

.new-task .task-elements .create-task-btn:hover {
    background-color: green;
}

.new-task .task-elements .closeTask {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 50px;
    float: right;
    cursor: pointer;
}

.edit-task {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%; /* Full width */
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); 

}

.edit-task .task-elements{
    border-radius: 10px;
    color: white;
    background-color: #242526;
    padding: 20px 30px 30px 30px;
    width: 500px;
    height: 750px;
    margin: auto;
    margin-top: 5%;
}

.edit-task .task-elements input[type="date"],input[type="text"],textarea{
    height: 60px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 100% !important;
    border: 0;
    padding: 5px;
}

.edit-task .task-elements .description {
    height: 125px;
    padding: 5px;
    resize: none;
}

.edit-task .task-elements label {
    font-size: 20px;
}

.edit-task .task-elements .toggle {
    display: block;
}

.edit-task .task-elements .toggle .toggle-completed,.toggle-important {
    display: flex;
    justify-content: space-between;
}

.edit-task .task-elements .create-task-btn {
    background-color: #0E87CC;
    border: 0;
    padding: 20px;
    width: 170px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    float: right;
    border-radius: 10px;
    cursor: pointer;
}

.edit-task .task-elements .create-task-btn:hover {
    background-color: green;
}

.edit-task .task-elements .closeTask {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 50px;
    float: right;
    cursor: pointer;
}

.tasks .alert {
    display: none;
    background-color: white;
    border: 0;
    width: 175px;
    height: 50px;
    color: black;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    top: 2%;
    right: 45%;
    /* left: 25%; on responsive */
}

.tasks .alert p {
    font-size: 15px;
}

.tasks .task-created {
    display: none;
    background-color: white;
    border: 0;
    width: 175px;
    height: 50px;
    color: black;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    top: 2%;
    right: 45%;
    /* left: 25%; on responsive */
}

.tasks .task-created p {
    font-size: 15px;
}

.tasks .task-deleted{
    display: none;
    background-color: white;
    border: 0;
    width: 165px;
    height: 50px;
    color: black;
    border-radius: 10px;
    z-index: 1;
    position: fixed;
    top: 2%;
    right: 45%;
    /* left: 25%; on responsive */
}

.tasks .task-deleted {
    font-size: 15px;
}



@media screen and (max-width: 1200px) {
    .tasks {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .tasks .all-tasks .task .buttons .complete {
        width: 110px;
    }

    .tasks .all-tasks .task {
        margin: auto;
        margin-bottom: 10px;
    }
  }